<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>DK GAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
	<!-- Header -->
	<% include header %>
	<!-- End header	 -->
	<div class="container-fluid main-container">
	  	<div class="col-md-2 sidebar">
	  		<!-- Side bar -->
	  		<% include sidebar %>
	  		<!-- End sidebar -->
		</div>
	  	<div class="col-md-10 content">

	  		<div class="panel panel-default">
	  			<%-body -%>
				
			</div>
	  	</div>
		<!-- Footer -->
		<% include footer %>
		<!-- End footer -->
	</div>
	<script src="js/js.js"></script>
</body>
</html>
