<div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
					<!-- Dropdown User-->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-lvl1">
							<span class="glyphicon glyphicon-user"></span> User <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="/users">List</a></li>
									<li><a href="/users/add">Add</a></li>
								</ul>
							</div>
						</div>
					</li>
					<!-- Station -->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-station-lvl1">
							<span class="glyphicon glyphicon-stats"></span> Station <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-station-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="/station">List</a></li>
									<li><a href="/station/add">Add</a></li>									
								</ul>
							</div>
						</div>
					</li>
					<!-- Overall -->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-overview-lvl1">
							<span class="glyphicon glyphicon-home"></span> Overall <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-overview-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="/">Overall</a></li>
									<li><a href="/">Add</a></li>									
								</ul>
							</div>
						</div>
					</li>
					<!-- Elect -->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-elect-lvl1">
							<span class="glyphicon glyphicon-home"></span> Electrical System <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-elect-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="/elect">Overall</a></li>
									<li><a href="/elect/add">Add</a></li>									
								</ul>
							</div>
						</div>
					</li>

					<!-- Dropdown-->
					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-lvl1a">
							<span class="glyphicon glyphicon-globe"></span> Sub Level <span class="caret"></span>
						</a>

						<!-- Dropdown level 1 -->
						<div id="dropdown-lvl1a" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>

									<!-- Dropdown level 2 -->
									<li class="panel panel-default" id="dropdown">
										<a data-toggle="collapse" href="#dropdown-lvl2">
											<span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
										</a>
										<div id="dropdown-lvl2" class="panel-collapse collapse">
											<div class="panel-body">
												<ul class="nav navbar-nav">
													<li><a href="#">Link</a></li>
													<li><a href="#">Link</a></li>
													<li><a href="#">Link</a></li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>


				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div> 