<% layout('../layout/index') %>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="panel-heading">
	Station:  <%= station.description %> - All Cabinet
	<span style="float: right;"><a href="/elect/add">Add new station</a></span>
</div>
<div class="panel-body">
<div class="container">
	<div class="row">
		<div class="col-md-12" style="position: relative;">
		<img src="/img/a.jpg" style="width: 1000px">
		<p style="position: absolute; top: calc(10%);left: calc(2vh);font-size: 7" id="Uab">Uab = 200 V</p>
		<p style="position: absolute; top: calc(13%);left: calc(2vh);font-size: 7" id="Ubc">Ubc = 200 V</p>
		<p style="position: absolute; top: calc(16%);left: calc(2vh);font-size: 7" id="Uca">Uca = 200 V</p>
		<p style="position: absolute; top: calc(19%);left: calc(2vh);font-size: 7" id="Iab">Iab  = 2.5 A</p>
		<p style="position: absolute; top: calc(22%);left: calc(2vh);font-size: 7" id="Iab">Iab  = 2.5 A</p>
		<p style="position: absolute; top: calc(25%);left: calc(2vh);font-size: 7" id="Iab">Iab  = 2.5 A</p>
		<p style="position: absolute; top: calc(28%);left: calc(2vh);font-size: 7" id="Iab">Hz  = 2.5 A</p>
		<p style="position: absolute; top: calc(31%);left: calc(2vh);font-size: 7" id="Iab">PF  = 2.5 A</p>
		<p style="position: absolute; top: calc(34%);left: calc(2vh);font-size: 7" id="Iab">KW  = 725 W</p>


	</div>
	<div id="map"></div>

		<!--  -->

	  
	</div>
       
    </div>
</div>

