<% layout('../layout/index') %>

<style>
  .display_value{
    style="font-size: 24px; text-align: center;"
  }

  .cl_blue{
    color: blue;
  }

  body {}

  
</style>

<div class="panel-heading">
	Chart
	<span style="float: right;"><a href="/water/add">Add new station</a></span>
</div>
<div class="panel-body">
<div class="container">
	<div class="row">
		<div id="chart">
      <apexchart type=area height=350 :options="chartOptions" :series="series" />
    </div>
	</div>
</div>


<!-- Get init data -->
<script type="text/javascript">
	var objData1 = [];
	var objData2 = [];
	var datalabel1 = [];
	let temp1 = "";
	<% oldWaters1.forEach(function(water) { %>
		var dataOld1 = <%= water.data %>
		objData1.push(dataOld1);
	  temp1 = "<%= moment(water.timestamp).format('HH:mm:ss') %>"
    datalabel1.push(temp1)
    
  <% }); %>
  <% oldWaters2.forEach(function(water) { %>
		var dataOld2 = <%= water.data %>
		objData2.push(dataOld2);
  <% }); %>
  datalabel1 = datalabel1.reverse();
  var level1;
  var level2;
	level1 = objData1[0]; 
	level2 = objData2[0];
  objData1 = objData1.reverse();
  objData2 = objData2.reverse();
  // console.log('data1 = ' + typeof(data1))
</script>

<!-- Chart Date time  -->
<script type="text/javascript">
  var now = Date.now()
  //console.log(now);
  var next = new Date(now + (1000));
  //console.log(next);

  function formatDate(date) {
    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();
    var hour = date.getHours();
    var minute = date.getMinutes();
    var second = date.getSeconds();
    return hour + ':' + minute +  ':' +second;
  }

  function formatFullDateTime(date) {
    var day = date.getDate();
    var monthIndex = date.getMonth() + 1;
    var year = date.getFullYear();
    var hour = date.getHours();
    var minute = date.getMinutes();
    var second = date.getSeconds();
    return day + "-" + monthIndex + "-"+ year + " " + hour + ':' + minute +  ':' +second;
  }

  function formatDateFull(date2){
    
    // let date1 = moment.utc().format();
    // let date = moment.utc().local().format('DD-MM-YYYY HH:mm:ss');
    // console.log('date ' + date)
    // let date1 = new Date();
    // moment.locale('vi');
    // console.log('date ' + date1)

    // var date = moment.utc().format();
    // console.log(date, "- now in UTC"); 

    // var local = moment.utc(date).local().format();
    // console.log(local, "- UTC now to local"); 

    var dt = new Date();
    //dt.setHours( dt.getHours() + 7 );
    //return local;
    return moment(dt).format('DD-MM-YYYY HH:mm:ss');
  }
</script>
      
<!-- Socket IO -->
<script type="text/javascript">
  //let socket = io("http://localhost:3001");
  let socket = io("http://124.158.10.133:3001");
  socket.emit('thongbao','hello');
  socket.on('level1', function(msg){
    	// document.getElementById("Uab").innerHTML = msg.Uab ;
    	// document.getElementById("Ubc").innerHTML = msg.Ubc ;
    	// document.getElementById("Uca").innerHTML = msg.Uca ;
    	// document.getElementById("Iab").innerHTML = msg.Iab ;
    	// document.getElementById("Ibc").innerHTML = msg.Ibc ;
    	// document.getElementById("Ica").innerHTML = msg.Ica ;
    	// document.getElementById("Cosphi").innerHTML = msg.Cosphi ;
    	// document.getElementById("Hz").innerHTML = msg.Hz ;
    	// document.getElementById("Kwh_Day").innerHTML = msg.Kwh_Day ;
    	// document.getElementById("Kwh_Total").innerHTML = msg.Kwh_Total ;
    	// document.getElementById("Timestamp").innerHTML = formatDate(new Date());
    	//console.log(msg);
    	level1 = msg;
    	//gauge1.set(msg);
    	gauge1.update(msg);
    	// document.getElementById("preview-textfield").innerHTML = msg.Uab + " V";
      if (level1 < 20 || level1 > 80) {
        addData("1", 'Bồn 1', level1);
      }

  });
  socket.on('level2', function(msg){
  		level2 = msg;
    	gauge2.update(msg);
      if (level2 < 20 || level2 > 80) {
        addData("1", 'Bồn 2', level2);
      }
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://apexcharts.com/samples/assets/stock-prices.js"></script>




<!-- Chart -->
<script type="text/javascript">
  var options = {
  annotations: {
    yaxis: [
      {
        y: 8200,
        borderColor: "#00E396",
        label: {
          borderColor: "#00E396",
          style: {
            color: "#fff",
            background: "#00E396"
          },
          text: "Y Axis Annotation"
        }
      }
    ],
    xaxis: [
      {
        // in a datetime series, the x value should be a timestamp, just like it is generated below
        x: new Date("11/17/2017").getTime(),
        strokeDashArray: 0,
        borderColor: "#775DD0",
        label: {
          borderColor: "#775DD0",
          style: {
            color: "#fff",
            background: "#775DD0"
          },
          text: "X Axis Anno Vertical"
        }
      },
      {
        x: new Date("03 Dec 2017").getTime(),
        borderColor: "#FEB019",
        label: {
          borderColor: "#FEB019",
          style: {
            color: "#fff",
            background: "#FEB019"
          },
          orientation: "horizontal",
          text: "X Axis Anno Horizonal"
        }
      }
    ],
    points: [
      {
        x: new Date("27 Nov 2017").getTime(),
        y: 8500.9,
        marker: {
          size: 6,
          fillColor: "#fff",
          strokeColor: "#2698FF",
          radius: 2
        },
        label: {
          borderColor: "#FF4560",
          offsetY: 0,
          style: {
            color: "#fff",
            background: "#FF4560"
          },

          text: "Point Annotation (XY)"
        }
      }
    ]
  },
  chart: {
    height: 380,
    type: "line",
    id: "areachart-2"
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    curve: "straight"
  },
  series: [
    {
      data: series.monthDataSeries1.prices
    }
  ],
  title: {
    text: "Line with Annotations",
    align: "left"
  },
  labels: series.monthDataSeries1.dates,
  xaxis: {
    type: "datetime"
  }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

// example of series in another format
// chart.updateSeries([{
//   data: [{
//     x: "02-02-2002",
//     y: 44
//   }, {
//     x: "12-02-2002",
//     y: 51
//   }]
// }])



</script>
